div.control-block{
  margin-left:20px;
  width:600px;
  height:150px;
}
div.viewer-block{
  width: 700px;
}

.ui-slider span.ui-slider-handle{
  border: 0;
  top: -14px;
  z-index: 3;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: none;
  background-color: #0db9f0;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.ui-slider span.ui-slider-handle:before{
  position: absolute;
  color: black;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  bottom: 30px;
  left: 6px;
  content: attr(data-before);
}

.ui-slider span.ui-slider-handle:after{
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  content: '';
}
.ui-slider span.ui-slider-handle:active:after{
  background: #451aff;
}

button:focus, .ui-slider span.ui-slider-handle:focus {outline:0;}

div.ui-slider{
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  background: #d8e0f3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0;
  margin-top: 20px;
}

div.ui-widget-header{background: none;}

div.no-padding{padding: 0;}

div.control-line{
  margin-bottom: 30px;
}

div.control-line label{font-weight: normal;width:125px;}
div.control-line label.small-label{width:85px;}

span.select2-selection{width: 156px;}
.data-list-select2 + .select2-container span.select2-selection{width: 140px!important;}

.control-buttons{text-align: center;}

.slider-value, .slider-max, .slider-min{position: absolute;bottom: 15px;}
.slider-max{right: -23px;}
.slider-min{left: -4px;}

.select2-search:before{
  content:"\e003";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  top: 11px;
  right: 9px;
  color: rgba(123,123,123,0.7);
  font-size: 12px;
}

input.select2-search__field{
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  background: -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: linear-gradient(top, #fff 85%, #eee 99%);
}

span.select2.select2-container{width: auto!important;} /* Firefox bug */

.legend{
  width: 100px;
}
